:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #242323;
}

label {
  display: block;
}

input {
  margin: 0;
}

form {
  margin-top: 1rem;
}

button[type="submit"] {
  float: right;
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.modal {
  width: min(100%, 50rem);
  height: min(100%, 50rem);
  background-color: whitesmoke;
}

#open-dialog {
  font-family: inherit;
  appearance: none;
  background-color: green;
  color: white;
  width: 10rem;
  height: 3rem;
  border-radius: 16px;
}

#close-dialog {
  float: right;
}

.library-container {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.library-card {
  background-color: white;
  height: 250px;
  border-radius: 16px;
  padding: 1rem;
}
